In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("C:\\Users\\patel\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python312\\Pandas\\Anime_Project\\anime.csv")
# df=pd.read_csv(r'anime.csv')
df.head(3)

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06

making column for episode cnt(Feature Extraction)

In [6]:
def extract(txt):
    check=False
    data=''
    for i in txt:
        if i==")":
            check=False
            return data
            break
        if check==True:
            data+=i

        if i=="(":
            check=True

In [12]:

df["episodes"]=df['Title'].apply(extract)

df['episodes']=df['episodes'].str.replace(" eps","")
df['episodes']=df['episodes'].astype(int)
print(df.head())

   Rank                                              Title  Score  \
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

            Time_stamp  Total_months  episodes
0  Apr 2009 - Jul 2010            16        64
1  Apr 2011 - Sep 2011             6        24
2  Oct 2022 - Dec 2022             3        13
3  Apr 2015 - Mar 2016            12        51
4  Apr 2019 - Jul 2019             4        10

Create column for Time stamps

In [ ]:
df.loc[3].Title
def Time_stmp(txt1):
    check=False
    data=''
    for i in range (len(txt1)):
        if txt1[i]==")":
            for j in range(i+1,i+20):
                data+=txt1[j]
            return data
  
df['Time_stamp']=df['Title'].apply(Time_stmp)
df.head()
# df['Time_stamp'].drop

,Rank,Title,Score,Time_stamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,Apr 2019 - Jul 2019

Retriving Number of months from time stamp column

In [8]:
from dateutil import parser

def calculate_months(time_range):

    try:
        start_str, end_str = time_range.split(' - ')
        start_date = parser.parse(start_str)
        end_date = parser.parse(end_str)
        total_months = (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month) + 1
        return total_months
    except Exception as e:
        print(f"Error parsing '{time_range}': {e}")
        return None

# Apply function to the column
df['Total_months'] = df['Time_stamp'].apply(calculate_months)

# Display result
df.head()

,Rank,Title,Score,Time_stamp,Total_months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,Apr 2019 - Jul 2019,4

finding anime with highest score

In [35]:
df[df['Score']==df['Score'].max()]

,Rank,Title,Score,episodes,Time_stamp,Total_months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010,16

finding Top 5 anime with highest score

In [43]:
# df[df['Score']==df['Score'].sort_index()].head(5)
df.head()

,Rank,Title,Score,episodes,Time_stamp,Total_months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

anime with highest episode count

In [13]:
#method 1
# df.nlargest(5,'episodes')
# print("Top 5 Animes highest episodes",longest)
#method 2
df.sort_values(by='episodes',ascending= False).head(5)

,Rank,Title,Score,Time_stamp,Total_months,episodes
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,Apr 2006 - Mar 2010,48,201
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,Oct 2011 - Sep 2014,36,148
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,Jan 1988 - Mar 1997,111,110
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,Oct 2000 - Mar 2002,18,75
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,Apr 2004 - Sep 2005,18,74

longest runing anime

In [ ]:

df[df['Total_months']==df['Total_months'].max()]
# longest=df.nlargest(5,'Total_months')

# df.nlargest(1,'Total_months')

,Rank,Title,Score,Time_stamp,Total_months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,Jan 1988 - Mar 1997,111